<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.3.dtd">
<module configVersion="1.3">
	
	<!-- logic Module Properties -->
	<id>logic</id>
	<name>Logic Module</name>
	<version>0.5</version>
	<package>org.openmrs.@MODULE_ID@</package>
	<author>OpenMRS</author>
	<description>
			
	</description>
	<activator>org.openmrs.module.logic.LogicModuleActivator</activator>
	<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>

	<require_version>1.6.3.17711-1.6.99</require_version>
	<require_version>1.7.2.17710-1.7.99</require_version>
	<require_version>1.8.*</require_version>
	
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>org.openmrs.module.logic.AdminList</class>
    </extension>
    
    <!-- Privileges -->
    <privilege>
		<name>Manage Tokens</name>
		<description>Allows registering and removal of tokens</description>
	</privilege>
	<privilege>
		<name>Manage Rule Definitions</name>
		<description>Allows creation and editing of user-defined rules</description>
	</privilege>
	<privilege>
		<name>View Rule Definitions</name>
		<description>Allows viewing of user-defined rules. (This privilege is not necessary to run rules under normal usage.)</description>
	</privilege>
    
    <!-- Global Properties -->
	<globalProperty>
		<property>logic.defaultTokens.conceptClasses</property> <!-- Must start with `moduleId.` -->
		<defaultValue></defaultValue>
		<description>When registering default tokens for logic, if you specify a comma-separated list of concept class names here, only concepts of those classes will have tokens registered. If you leave this blank, all classes will have tokens registered for their concepts.</description>
	</globalProperty>
	<globalProperty>
		<property>logic.default.ruleClassDirectory</property> <!-- Must start with `moduleId.` -->
		<defaultValue>logic/class</defaultValue>
		<description>Default folder where compiled rule will be stored</description>
	</globalProperty>
	<globalProperty>
		<property>logic.default.ruleJavaDirectory</property> <!-- Must start with `moduleId.` -->
		<defaultValue>logic/sources</defaultValue>
		<description>Default folder where rule's java file will be stored</description>
	</globalProperty>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<mappingFiles>
		TokenRegistration.hbm.xml
		RuleDefinition.hbm.xml
	</mappingFiles>
	<!-- /logic Module Properties -->
	
</module>
